<div class="container ko-main-content">
  <a href="/bands/<%= @band.id %>/edit" class="edit_button btn btn-default">edit</a>
  <h1><%= @band.name %></h1>
  <% if @upcoming_concerts.any? %>
  <h3>Upcoming Concerts</h3>
  <ul class="ko-list">
    <% @upcoming_concerts.each do |concert| %>
      <li><%= concert.date.strftime('%m/%d/%Y') %> - <strong><%= concert.venue.name %> / <%= concert.venue.location %></strong></li>
    <% end %>
  </ul>
  <% end %>
  <% if @past_concerts.any? %>
  <h3>Past Concerts</h3>
  <ul class="ko-list">
    <% @past_concerts.each do |concert| %>
      <li><%= concert.date.strftime('%m/%d/%Y') %> - <strong><%= concert.venue.name %> / <%= concert.venue.location %></strong></li>
    <% end %>
  </ul>
  <% end %>

  <% if Venue.all.any? %>
  <h3>Select Places where this band has had or will have a concert</h3>
  <form class="ko-form" action="/bands/<%= @band.id %>/concerts/new" method="post">
    <div class="checkbox">
      <% Venue.all.each do |venue| %>
      <input type="checkbox" name="concerts[]" value="<%= venue.id %>"><%= venue.name %> - <%= venue.location %><br>
      <% end %>
    </div>
    <button type="submit">ADD CONCERTS</button>
  </form>
  <% end %>
</div>
