<div class="container ko-main-content">
  <h1>Edit <%= @band.name %></h1>
  <% if @band.errors.any? %>
    <% @band.errors.full_messages.each do |error| %>
      <div class="alert alert-danger"><%= error %></div>
    <% end %>
  <% end %>
  <form class="ko-form form-horizontal" action="/bands/<%= @band.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="name" class="col-sm-2">Band Name:</label>
      <div class="col-sm-10">
        <input type="text" name="name" class="form-control" placeholder="e.g. Foo Fighters" value="<%= @band.name %>">
      </div>
    </div>
    <button type="submit">SUBMIT CHANGES</button>
  </form>
  <form class="ko-form" action="/bands/<%= @band.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">DELETE BAND</button>
  </form>
</div>
